/**** Boostrap modifications ****/
// Colors
$theme-colors: (
  "primary":    #5E6680,
  "secondary":  #F1F1EF
);


// Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1660px
);


// Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
$font-family-sans-serif: 'Inter', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-bolder: 600;


// Button
$btn-padding-y: 0.75rem;
$btn-padding-x: 2.25rem;

$btn-border-width: 0;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;

$btn-link-color: #FFF;
$btn-link-hover-color: #F1F1EF;

$btn-font-size: 14px;





/**** Own components ****/
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@import "../node_modules/bootstrap/scss/bootstrap";
